:root{
    --cell: 30px;
    --board-colums: 8;
    --board-rows: 8;
    --board-height: 240px;
    --board-width: 240px;
}

body{
    margin: 0;
    background-color: #333;
    font-family: sans-serif;
    color: #8f8;
    box-sizing: border-box;
}
.page_header{
    position: relative;
    display: flex;
    height: 200px;
    background-color: #001;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.form{
    text-align: center;
    background-color: #111;
    border: 1px solid black;
}
.input{
    width: 2rem;
    margin-right: 1rem;
}
.button{
    padding: .2rem 2rem;
    border: 1px solid #8f8;
    border-radius: 5rem;
    color: #8f8;
    background-color: inherit;
}
.container{    
    position: relative;  
    width: var(--board-width);
    display: flex;    
    flex-direction: column;
    justify-content: center;  
    margin-top: 75px;
    padding: 10px;
    transform: translate(-50%, 0);
    left: 50%;
    background-color: #aaa;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
    border-right: 3px solid #888;
    border-bottom: 3px solid #888;
    user-select: none;
    
}
.board_header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background-color: #aaa;
    border-bottom: 3px solid #ccc;
    border-right: 3px solid #ccc;
    border-left: 3px solid #888;
    border-top: 3px solid #888;
}
.counter{
    background-color: black;
    color: red;
    margin: 0 .5rem;
    font-size: 1.5rem;
}
.board{
    position: relative;
    display: grid; 
    grid-template-rows: repeat(var(--board-colums), 1fr);
    grid-template-columns: repeat(var(--board-rows), 1fr);
    height: var(--board-height);
    width: var(--board-width);
    transform: translate(-50%, 0);
    left: 50%;   
    border-bottom: 3px solid #ccc;
    border-right: 3px solid #ccc;
    border-left: 3px solid #888;
    border-top: 3px solid #888;
}
.cell{
    margin: 0;    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--cell);
    width: var(--cell);
    background-color: #aaa;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
    border-right: 3px solid #888;
    border-bottom: 3px solid #888;
    color: transparent;
    cursor: pointer;
}
.cell:hover{
    background-color: #bbb;
}
.cell_revealed{
    border-top: 2px solid #777;
    border-left: 2px solid #777;
    border-right: none;
    border-bottom: none;
    cursor: default;    
}
.head_back{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: yellow;   
}
.head_frame{
    height: 40px;
    width: 40px;
}
.one{
    color: #00f;
}
.two{
    color: #008000;
}
.three{
    color: #f00;
}
.four{
    color: #000080;
}
.five{
    color: #800000;
}
.six{
    color: #008080;
}
.seven{
    color: #000;
}
.eight{
    color: #808080;
}

